<h2 mat-dialog-title class="title">Forget Password</h2>
<div>
  <form [formGroup]="form">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
            <mat-form-field class="email">
                <mat-label for="Email">Enter your email</mat-label>
                <input
                  matInput
                  placeholder="suresh@example.com"
                  required
                  formControlName="userEmailId"
                  id="userEmailId"
                  class="form-control"
                />
            </mat-form-field>
    <button mat-flat-button class="otp">Sent OTP</button>
    </form>
</div>