.email
{
    margin-top: -60px;
    margin-left: 45px;
    width: 300px;
}

.otp
{
    background-color: orange;
    color: white;
    margin-left: 45px;
}

.title
{
    margin-left: 113px;
    margin-top: 10px;
}